@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
h1 {
    font-family: 'Gochi Hand', cursive;
    display: block;
    width: 100%;
    padding: 1em;
    background-color: #5c2200;
    color: white;
    margin: 0px 0px 1em 0px;
    font-size: 3em;
}

body {
    margin: 0px;
}

#input {
    padding: 1em;
}

#divhist {
    display: none;
}

#divpart label {
    margin-bottom: 0.5em;
    display: block;
}

#config {
    margin: 1em;
    border: 1px solid #ddd;
    display: inline-table;
    padding: 0.5em;
}
.cb {
    margin-left: 4em;
    margin-right: 0.5em;
}
#perTable {
    width: 5em;
}

#gobtn {
    width: 6em;
    height: 3em;
    font-weight: bolder;
}

#divpart {
    margin: 1em;
    float: left;
    min-width: 20em
}

#steer {
    float: left;
    min-width: 30em;
}


#tables {
    border-collapse: collapse;
}

#tables td {
    border: 1px solid #ddd;
    padding: 0.2em 1em;
}

#results {
    display: none;
    margin: 1em;
    line-height: 2em;
}

.emoji {
    font-size:2em;
    padding: 0em 1em;
}